.fifislider{color: #fff;}
.fifislider a, .fifislider img{margin: 0; padding: 0;}
.fifislider a, .fifislider a:visited, .fifislider a:active{color: #fff;text-decoration: none;}
.fifislider a:hover{color: #428BCA;}
.fifislider h2{font-size: 2.5em;}
.fifislider p{padding: 0 0 1em; margin: 0 auto; width: 90%;}
.fifislider a,.fifislider a:hover,.fifislider li,.fifislider li:hover,.fifislider .arrow,.fifislider .arrow:hover{-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;transition:all .5s ease;-webkit-perspective:1000;-webkit-backface-visibility:hidden}.fifislider{width: 100%; position: relative; z-index: 1;}

/*.fifislider .sliderwrap, .fifislider .slide{height: 500px;}*/
.fifislider .sliderwrap, .fifislider .slide{min-height: 240px;}
.fifislider .sliderwrap{background: #000; width: 100%; overflow: hidden; padding: 7vw 0; position: relative; z-index: 1;}
.fifislider .slide{width: 100%; opacity: 1; overflow: hidden; position: absolute; top: 0; right: -100%;}
.fifislider .slide img{width: 100%;}
/*.fifislider .slide p{display: none;}*/
.fifislider .slide:first-child{right: 0px;}
.fifislider .slide:last-child{right: 100%;}
.fifislider .content{display: none; top: 0; left: 0; bottom: 0; right: 0; position: absolute; z-index: 2; text-align: center; height: 80%; margin: auto; width: 80%;}
.fifislider .slide:first-child .content{display:block;}
.fifislider .cta a{background: #C22E62; color: #fff; font-family: 'Lato', Arial, sans-serif; display: inline-block; padding: 15px; border-radius: 10px; text-transform: uppercase; font-weight: bold; min-width: 150px;}
.fifislider .cta a:hover{background: #d46c91; color: #fff;}
.fifislider .arrow{color: #fff; font-size: 4em; position: absolute; top: 45%; z-index:3;}
.fifislider .arrow .fa{vertical-align: top;}
.fifislider .arrow:hover{color: #ccc; cursor: pointer;}
.fifislider .arrow.left{left: 5px;}
.fifislider .arrow.right{right: 5px;}

@media screen and (min-width: 35.9375em){ /*575*/
	.fifislider .sliderwrap{padding: 10vw 0;}
}

/*@media screen and (min-width: 50em){
.fifislider .sliderwrap{position: relative;}
.fifislider .slide p{display: block;}
}*/